{% load static %}

<!DOCTYPE html>
<html>
 <head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Oishi</title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
 
 <script type = "text/javascript" src = "https://code.jquery.com/jquery-2.1.1.min.js"></script>           
 <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
 <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
 </head>

<body>
  <div class="">
    <nav>
      <div class="nav-wrapper green">

    
        <a href="#" data-target="mobile-demo" class="sidenav-trigger"><i class="material-icons">menu</i></a>
        <ul class="right hide-on-med-and-down">
          {% if user.is_authenticated %}
            <li><a href="{% url 'index' %}">View All Products</a></li>
            <li><a href="{% url 'stores_create' %}">Post Your Store</a></li>
            <li><a href="{% url 'stores_index' %}">Store List</a></li>
            <li><a href="{% url 'products_create' %}">Post Your Product</a></li>
            <li><a href="{% url 'logout' %}">Log Out</a></li>
          {% else %}
            <li><a href="{% url 'signup' %}">Sign Up</a></li>
            <li><a href="{% url 'login' %}">Log In</a></li>
          {% endif %}
        </ul>
      </div>
      </nav>
   
      <ul class="sidenav" id="mobile-demo">
          {% if user.is_authenticated %}
            <li><a href="{% url 'index' %}">View All Products</a></li>
            <li><a href="{% url 'stores_create' %}">Post Your Store</a></li>
            <li><a href="{% url 'stores_index' %}">Store List</a></li>
            <li><a href="{% url 'products_create' %}">Post Your Product</a></li>
            <li><a href="{% url 'logout' %}">Log Out</a></li>
          {% else %}
            <li><a href="{% url 'signup' %}">Sign Up</a></li>
            <li><a href="{% url 'login' %}">Log In</a></li>
          {% endif %}
        </ul>
      </div>
    </nav>
  </div>
  <main class="container">
    {% block content %}
    {% endblock %}
  </main>
  <footer  >
    <div class="green">All Rights Reserved, &copy; 2022 Oi Shi</div>
  </footer>
</body>
<script>
  $(document).ready(function(){
    $('.sidenav').sidenav();
  });
  $(document).ready(function(){
    $('.slider').slider();
  });
</script>

</html>
