body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
  }
  
  main {
    flex: 1 0 auto;
  }
  
.nav-wrapper  {
    background-color: green;
    font-size: 14px;
  }
  
.dropdown-button  {
    background-color:green;
    font-size: 13px;

  }  

footer.page-footer {
  padding-top: 0;
  text-align: right;
}

input#search, input#postal-code {
  border: groove;
}
