{% extends 'base.html' %}
{% block content %}

<h3>Products Details</h3>


  <div class="col s6">
    <div class="card">
      <div class="card-content lime lighten-3">
        <h5>Product Name:{{ product.name }}</h5>
        <p>Category: {{ product.category }}</p>
        <p>Description: {{ cat.description }}</p>
        <div>
          {% for photo in product.photo_set.all %}
            <img class="responsive-img card-panel" src="{{photo.url}}">
          {% empty %}
            <div class="card-panel teal-text center-align">No Photos Uploaded</div>
          {% endfor %}
          <form action="{% url 'add_photo' product.id %}" enctype="multipart/form-data" method="POST" class="card-panel">
            {% csrf_token %}
            <input type="file" name="photo-file">
            <br><br>
            <input type="submit" class="btn green" value="Upload Photo">
        </form>
        </div>
       
      </div>
      <div class="card-action lime lighten-5">
        {% if product.user == user %}
        <a href="{% url 'products_update' product.id %}">Edit</a>
        <a href="{% url 'products_delete' product.id %}">Delete</a>
        {% endif %}
      </div>
    </div>
    
   
 </div>

<hr>
<div class="row">
  <div class="col s6">
    <h3>{{ product.name }}'s Stores</h3>
    {% if product.stores.count %}
      {% for store in product.stores.all %}
        <div class="card lime lighten-4">
            Store Name: {{ store.name }} <br/>
            Post Code: {{ store.postcode }}<br/>
            Contact Infor:{{store.contact_infor}}
            <form action="{% url 'unassoc_store' product.id store.id %}" method="post">
                {% csrf_token %}
              <button type="submit" class="waves-effect waves-light btn-small red">Remove</button>
            </form>
        
        </div>
      {% endfor %}
    {% else %}
      <h5>No Stores :(</h5>
    {% endif %}
  </div>

  <div class="col s6">
    <h5>Add a Store for {{ product.name }}</h5>
    {% if stores.count %}
    
      <div class = "row">
        <form action="{% url 'assoc_store' product.id %}" method="post">
          {% csrf_token %}
            <select name="store">
                <option value = "" disabled selected>Select a Store Available</option>
              {% for store in stores.all %}
                <option value = "{{store.id}}">{{store.id}}: {{store.name}}</option>
              {% endfor %}  
            </select>  
         <button type="submit" class="btn green">Add</button>
        </form>
        </div>
      </div>
      {% else %}
      <h5>{{product.name}} Already Has All Stores Available</h5>
    {% endif %}
  </div>

<script>
   $(document).ready(function(){
    $('select').formSelect();
  });
</script>
{% endblock %}