{% extends 'base.html' %}
{% block content %}


<h2>Product Search</h2>

  <form method=POST action="{% url 'search_products' %}">
    {% csrf_token %}
      <label for="search">Search</label>
      <input id="search" type="search" required name="searched">
      
      <label for="postal-code">Postal Code</label>
      <input id="postal-code" type="text" name="postal-code" maxlength="6">
      
    <button type="submit">Search</button>
  </form> 

<h2>Product List</h2>

{% for product in products %}
  <a href="{% url 'detail' product.id %}">
    <div class="card">
        <div class="card-content lime lighten-3">
            <span class="card-title">{{ product.name }}</span>
            <p>Category: {{ product.category }}</p>
            <p>Description: {{ product.description }}</p>
       
    </div>
  </a>
{% endfor %}

{% endblock %}